body {
    background-color: #272822;
    color: #e7e8e7;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
}
#screen {
    width: 800px;
    height: 600px;
    border: solid 1px #e7e8e7;
    /*background-image: url("wallpaper.jpg");*/
    background: #000;
    font-family: 'Noto Sans KR', sans-serif;
}
#screen-under {
    width: 800px;
    height: 27px;
    background: #e7e8e7;
}
#pwr-btn {
    margin: 0;
    text-align: center;
    height: 20px;
    width: 100px;
    background-color: #272822;
    color: #fff;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}
#indicator {
    color: #ce2732;
    padding-left: 8px;
    margin-top: 3px;
    display: inline-block;
}
#info-dropdown {
    background-color: #272822;
    margin: 0;
    width: 200px;
    border-radius: 4px;
    list-style: none;
    padding: 15px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
#info-dropdown > li {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

#info-dropdown > li::last-of-type {
    border-bottom: none;
}

#info-dropdown > li:hover {
    color: #272822;
    background-color: #fff
}
/* Welcome Screen */
#login-title {
    margin-left: 335px;
    font-size: 25px;
    font-weight: 700;
    color: #272822;
    margin-top: 224px;
}

.welcome-input {
    margin-left: 290px;
    height: 25px;
    font-size: 18px;
    background-color: rgba(39,40,34,1.0);
    color: #fff;
    border: none;
    padding-left: 20px;
    border-radius: 20px;
    border: #fff 2px solid;
}

#login-button {
    margin-left: 290px;
    height: 30px;
    width: 212px;
    margin-top: 20px;
    font-size: 17px;
    background-color: rgba(39,40,34,1.0);
    color: #fff;
    border: none;
    padding-left: 20px;
    border-radius: 20px;
    border: #9ed62a 2px solid;
    cursor: pointer;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
#login-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#top-bar {
    background: #272822;
    min-height: 25px;
}
#info {
    color: #e7e8e7;
    margin-left: 0px;
    background-color: #669def;
    padding: 0px 15px 6px 16px;
    border-radius: 7px;
    z-index: 0;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
#info:hover {
    box-shadow: 7px 2px 10px 1px rgb(102, 157, 239), 0 6px 20px 0 rgb(102, 157, 239);
}
#time {
    float: right;
    color: #fff;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}
.mono {
    font-family: 'Inconsolata', monospace;
}
/* Sys Colors */
span._s { color: #9ed62a; }
span._g { color: #bfbfbf; }
span._f { color: #ce2732; }
span._j { color: #669def; }
span._i { font-style: italic; }
span._b { font-weight: 700; }

/* Input Colors */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

/*
body {
	background-color: #272822;
	color: #e7e8e7;
	font-size: 20px;
	font-family: 'Inconsolata', monospace;
}

#topBar {
	background: #272822;
	min-height: 25px;
    text-align: center;
}
#topBar #time {
	float: right;
}

#topBar > p {
    margin: 0;
}
#hamburger {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    cursor: pointer;
}
#hamburger:hover {
    color: #00c0fd;

}
#drop-down > ul {
    width: 215px;
    cursor: pointer;
    padding-top: 10px;
    background: #272822;
    margin: 0;
    list-style: none;
    padding-left: 0px;

}

#drop-down li {
    padding: 5px 0px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #e7e8e7;
    padding-left: 15px;
}
#drop-down li:hover {
    background-color: #e7e8e7;
    color: #272822;
}
#screen {
	width: 800px;
	height: 600px;
	border: solid 1px #e7e8e7;
	background-image: url("wallpaper.jpg");
}
#drop-down li.last {
    cursor: auto;
    font-size: 10px;
    border: none;
}
#drop-down li.last:hover {
    background-color: #272822;
    color: #e7e8e7;
}

#powerButton {
	text-align: center;
    height: 60px;
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 45px;
    background-color: #e7e8e7;
    color: #272822;
}

#mydiv, #term {
    position: absolute;
    z-index: 9;
    text-align: center;
    border: none;
    max-width: 350px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

#mydivcontent > p, #termcontent > p {
	color: #272822;
	margin: 0;
    spadding: 10px;
	padding-top: 1em;
	padding-bottom: 1em;
}

#mydivheader, #termheader {
    padding: 10px;
    text-align: left;
    border: none;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(39,40,34,0.8);
    color: #fff;
}
#mydivcontent, #termcontent {
	background: #e7e8e7;
}

.close {
	float: right;
    height: 44px;
    margin-top: -11px;
    margin-right: -11px;
    font-size: 20px;
    background-color: rgba(39,40,34,0.0);
    color: #e7e8e7;
    cursor: pointer;
    border: none;
}
.close:hover {
    background-color: rgba(255,0,0,0.8);

}*/
