body {
	background-color: #272822;
	color: #e7e8e7;
	font-size: 20px;
	font-family: 'Inconsolata', monospace;
}

#topBar {
	background: #272822;
	min-height: 25px;
    text-align: center;
}
#topBar #time {
	float: right;
}

#topBar > p {
    margin: 0;
}
#hamburger {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    cursor: pointer;
}
#hamburger:hover {
    color: #00c0fd;

}
#drop-down > ul {
    width: 215px;
    cursor: pointer;
    padding-top: 10px;
    background: #272822;
    margin: 0;
    list-style: none;
    padding-left: 0px;

}

#drop-down li {
    padding: 5px 0px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #e7e8e7;
    padding-left: 15px;
}
#drop-down li:hover {
    background-color: #e7e8e7;
    color: #272822;
}
#screen {
	width: 800px;
	height: 600px;
	border: solid 1px #e7e8e7;
	background-image: url("wallpaper.jpg");
}
#drop-down li.last {
    cursor: auto;
    font-size: 10px;
    border: none;
}
#drop-down li.last:hover {
    background-color: #272822;
    color: #e7e8e7;
}

#powerButton {
	text-align: center;
    height: 60px;
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 45px;
    background-color: #e7e8e7;
    color: #272822;
}

#mydiv, #term {
    position: absolute;
    z-index: 9;
    text-align: center;
    border: none;
    max-width: 350px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

#mydivcontent > p, #termcontent > p {
	color: #272822;
	margin: 0;
    spadding: 10px;
	padding-top: 1em;
	padding-bottom: 1em;
}

#mydivheader, #termheader {
    padding: 10px;
    text-align: left;
    /*cursor: move;*/
    border: none;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(39,40,34,0.8);
    color: #fff;
}
#mydivcontent, #termcontent {
	background: #e7e8e7;
}

.close {
	float: right;
    height: 44px;
    margin-top: -11px;
    margin-right: -11px;
    font-size: 20px;
    background-color: rgba(39,40,34,0.0);
    color: #e7e8e7;
    cursor: pointer;
    border: none;
}
.close:hover {
    background-color: rgba(255,0,0,0.8);

}